{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  line-height: 1;
  color: black;
  background: #ffc914;
  font-size: 200%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

/**Navbar**/
.navbar{
	display: flex;
	width: 100%;
	height: 60px;
	/*padding: 2em;*/
	font-weight: bold;
}

.navbar ul li {
	display: inline;
	/*margin: 0 2rem;*/
}

.navbar ul li a {
	text-decoration:  none;
	text-transform: uppercase;
	color: white;
	background-color: #2e282a;
	padding: 1em;
	grid-gap: 1em;
	margin-right: 10px;
	border-radius: 15px;
	/*background-color: white;*/
}

.navbar ul li a:hover{
	color: skyblue;
}

/**Intro**/
.intro {
	display: grid;
	height: 100px;
	width: 70%;
	/*grid-template-row: 80% 20%;*/
	/*grid-template-columns: 70% 30%;*./

/*	grid-column-gap: 1em;
	grid-row-gap: 3em;
*/

	font-size: 100%;
	font-weight: bold;
}

.intro {
	/*background: #379683;*/
	margin-left: 2.5em;
	margin-bottom: 1em;
	margin-top: 3em;
}

.Subtitle {
		font-size: 85%;
		font-weight: normal;
}

/**{Portfolio Split}**/
.portfolio {
	padding: 1em;
	grid-gap: 1em;
	/*grid-template-columns: 50% 50%;*/
	grid-template-rows: 50% 50%;
}

.portfolio > div:nth-child(odd){
	background: #17bebb;
}


/*
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
*/

/**Wrapper**/
.wrapper {
	border-radius: 15px;
	display: grid;
	font-size: 80%;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
/*	grid-column-gap: 1em;
	grid-row-gap: 1em;
*/
	padding: 1em;
	grid-gap: 1em;
	text-align: center;
}

.wrapper {
	background: #eee;
}

/*
.wrapper > div:nth-child(odd){
	background: #17bebb;
}
*/

/*
Color Schemes
#e4572e
#17bebb
#ffc914
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/talldata?hide_landing_page_details=1" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
#76b041
*/
/*Media*/
@media screen and (max-width : 320px)
{
  body
  {
    font:.8 em;
  }
}
@media screen and (max-width : 1204px)
{
  body
  {
    font:1em;
  }
}